body{										
  margin:0;
  padding:0;
  font-family: 'poppins',sans-serif;
  background-image:url(mensa1.jpg);   
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  
}

.box{	
  border:0;
  width: 300;
  padding: 30px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.05); 
  backdrop-filter: blur(5px);
  box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
  text-align: center;
  border-radius: 30px;
  -webkit-backdrop-filter: blur(5px);
}

.box h1{
  color:#0088c6;
  text-transform: uppercase;
  text-align: center;
  font-weight: 300;
  top: 100%;
  left: 50%;
  margin-bottom: 0px;
  font-weight: 1000;
}

.box input[type = "submit"]{
  border:0;
  background: none;
  margin: auto;
  text-align: center;
  border: 2px solid #0088c6;
  padding: 20px 50px;
  outline: none;
  color: #0088c6;
  border-radius: 30px;
  transition: 0.25s;
  cursor: pointer;
  
}
.box input[type = "submit"]:hover{
  background-color: rgb(0,0,0);
  background-color: #0088c6; 
  color:white;
  backdrop-filter: blur(5px);
}


/* tabella */

table {
  font-family: 'poppins',sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

th {
  border-bottom: 2px solid #dddddd;
  text-align: center;
  padding: 8px;
  max-width:67%;
}

thead, tbody { display: block; }

tbody {
  height: 200px;       /* Just for the demo          */
  overflow-y: auto;    /* Trigger vertical scroll    */
  overflow-x: hidden;  /* Hide the horizontal scroll */
}

.cell{
  color: #e66129;
  border-bottom: 2px solid #0088c6;
  text-align: center;
  padding: 8px;
  width: 2%
}

.box2{
  border-width: 2px;
  width: auto;
  padding: 30px;
  top: 50%;
  left: 50%;
  text-align: center;
  border-radius: 20px;
  border-color: white;
}

