body{										
  margin: 0;
  padding: 0;
  font-family: High-School;
  background-image:url(mensa.jpg);
  background-size:cover;    
}
.box{
  border:0;
  width: 300;
  padding: 30px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.4); 
  backdrop-filter: blur(10px);
  text-align: center;
  border-radius: 30px;
}
.box h1{
  color: white;
  text-transform: uppercase;
<<<<<<< HEAD
  font-weight: 500px;

  top: 100%;
  left: 50%;
  margin-bottom: 100px;

  
=======
  font-weight: 300;
  top: 100%;
  left: 50%;
  margin-bottom: 60px;
  font-size:30px
>>>>>>> main
}

.esci{
  border:none;
  border: 2px solid #FFFFFF;
  background: none;
  margin: auto;
  text-align: center;
  font-family: High-School;
  padding: 5px 40px;
  outline: none;
  color: white;
  border-radius:20px;
  transition: 0.25s;
  cursor: pointer;
  margin-top: 15px;
}

.crono{
  border:none;
  border: 2px solid #FFFFFF;
<<<<<<< HEAD
  width: 225PX;
  padding: 20px 225px;
=======
  background: none;
  margin: auto;
  text-align: center;
  font-family: High-School;
  padding: 5px 40px;
>>>>>>> main
  outline: none;
  color: white;
   border-radius:20px;
  transition: 0.25s;
  cursor: pointer;
<<<<<<< HEAD
  margin-top: 35px;
=======
  margin-top: 30px;
>>>>>>> main
}

.prenota{
  border:none;
  border: 3px solid #FFFFFF;
  background: none;
  margin: auto;
  text-align: center;
  font-family: High-School;
  padding: 17px 70px;
  outline: none;
  color: white;
  border-radius:20px;
  transition: 0.25s;
  cursor: pointer;
  margin-top: 25px;

}
.esci input[type = "submit"]:hover{
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.4); 
  backdrop-filter: blur(10px);
}


.box select[type = "elenco"]{
<<<<<<< HEAD
  border: 0;
  width: 20PX;
  padding: 215px;
=======
  padding: 5px;
>>>>>>> main
  position: absolute;
  transform: translate(-50%,-50%);
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0); 
  text-align: center;
  font-size: 17px;
  font-style: High-School;
  border:none;
  border-bottom: 3px solid #FFFFFF;
  outline: none;
  color:white;
  transition: 0.25s;
  cursor: pointer;
  width: Auto;
  font-size:20px;
  margin-bottom: 10px;
}

.box input[type = "elenco"]:hover{
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.4); 
  backdrop-filter: blur(10px);
}

.option{
    margin:40px;
    background: black;
    color:#ffffff;
	backdrop-filter: blur(2.5px);
}

.option-selected {
  background-color: white;
}

img.avatar {
  width: 60%;
  border-radius: 50%;
  border: 3px solid grey;
}

.box h4{
  color: white;
  font-family: High-School;
}

.box img{
	width: 40%;
}

.box3{
  width: auto;
  top: 50%;
  left: 50%;
  text-align: center;
  border-radius: 30px;
}

